.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  background-color: rgb(164, 173, 184);
  font-size: 60px;
  font-weight: 600;
  border: 6px solid black;
  padding: 10px;
}

.nav-bar a {
  border: 2px solid black;
  text-decoration: none;
  color: white;
  text-transform: uppercase;

}

.active {
  background: rgb(178, 218, 178);
}

.nav-bar a:hover {
  background: rgb(56, 98, 238);
  cursor: pointer;
}